In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
system_2018 = pd.read_csv("/Users/starsrain/2025_codeProject/GB_load_forecasting/gbr_system_30M_2018.csv")
system_2019 = pd.read_csv("/Users/starsrain/2025_codeProject/GB_load_forecasting/gbr_system_30M_2019.csv")

In [4]:
system_2018.head()

      date_time_utc  wholesale market price, gbp/mwh  underlying demand, mw
0  2018/01/01 00:00                            47.27            27817.01520
1  2018/01/01 00:30                            48.57            28537.00851
2  2018/01/01 01:00                            52.32            28359.00190
3  2018/01/01 01:30                            51.18            27356.00390
4  2018/01/01 02:00                            46.08            26489.00190

In [5]:
system_2018.dtypes

date_time_utc                       object
wholesale market price, gbp/mwh    float64
underlying demand, mw              float64
dtype: object

In [6]:
system_2018.isna().sum()

date_time_utc                        0
wholesale market price, gbp/mwh    108
underlying demand, mw               41
dtype: int64

In [7]:
system_2019.isna().sum()

date_time_utc                       0
wholesale market price, gbp/mwh    96
underlying demand, mw              24
dtype: int64